extends layout
block content
  .container
    form.form-register(action="/register/addUser",method="post")
      h2.form-register-heading 请填写注册信息
      .row
        .col-md-4.col-sm-4
          label(for="Ualais") 用户昵称
        .col-md-8.col-sm-8
          input.form-control(name="Ualais",type="text",placeholder="用户昵称")
      .row
        .col-md-4.col-sm-4
          label(for="Ulogn") 邮箱
        .col-md-8.col-sm-8
          input.form-control(name="Ulogn",type="email",placeholder="邮箱")
      .row
        .col-md-4.col-sm-4
          label(for="Upasswd") 密码
        .col-md-8.col-sm-8
          input.form-control(name="Upasswd",type="password",placeholder="密码")
      .row
        .col-md-4.col-sm-4
          label(for="Usex") 性别
        .col-md-8.col-sm-8
          select.form-control(name="Usex")
            option(value="0") 女
            option(value="1") 男
            option(value="2") 其他
       .row
         .col-md-4.col-sm-4
           label(for="Uinfo") 自我介绍
         .col-md-8.col-sm-8
           textarea.form-control(name="Uinfo",placeholder="自我介绍")
      button.btn.btn-lg.btn-primary.btn-block(type="submit") 注册
  
